.btn {
  padding: 8px 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;

  &--rounded {
    border-radius: 30px;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }

  &--primary {
    background: $gradient-primary;
  }

  &--success {
    background: $gradient-success;
  }

  &--danger {
    background: $gradient-danger;
  }

  &--small {
    font-size: 12px;
    height: 31px;
  }

  &--medium {
    font-size: 16px;
    height: 35px;
  }

  &--large {
    font-size: 20px;
    height: 40px;
  }
}
