$primary: #e66ad2;
$secondary: #f4f5f7;
$success: #00bf9a;
$info: #419ef9;
$warning: #ff9f89;
$danger: #fd77a4;

// Light Colors

$light: #e7eaec;

// Bg Colors

$bg-primary: #1e1e2e;
$bg-card: #27293d;
$bg-hover: #47495e;
$gray: #6c757d;
$blue: #5e72e4;
$indigo: #5603ad;
$purple: #8965e0;
$pink: #f3a4b5;
$red: #f5365c;
$orange: #fb6340;
$yellow: #ffd600;
$green: #2dce89;
$teal: #11cdef;
$cyan: #2bffc6;

// Gradients

$gradient-primary: linear-gradient(to bottom left, #e14eca, #ba54f5);
$gradient-info: linear-gradient(to bottom left, #1d8cf8, #3358f4);
$gradient-success: linear-gradient(to bottom left, #00f2c3, #0098f0);
$gradient-warning: linear-gradient(to bottom left, #ff8d72, #ff6491);
$gradient-danger: linear-gradient(to bottom left, #fd5d93, #ec250d);

// helpers

$border-radius: 8px;
