@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@import "./reset";
@import "./variables";

@import "./components/layout/Layout";
@import "./components/typography/CText";
@import "../components/buttons/Button";
@import "./components/sidenav/components/SideNavMenu";
@import "./components/kanban/components/Column";
@import "./components/kanban/components/Task";
@import "./components/kanban/Kanban";
@import "./components/horizontalMenu/HorizontalMenu";
@import "./components/notification/Notification";

body {
  background-color: $bg-primary;
  color: $light;
  font-family: Roboto, sans-serif;
}
